<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.authorfollow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="AuthorFollow.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.capstone.authorfollow.data.types.UpcomingBook, com.capstone.authorfollow.data.types.WishlistBook, com.capstone.authorfollow.data.types.AuthorFollow" />

        <activity
            android:name=".BookListActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.capstone.authorfollow.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/title_book_detail"
            android:parentActivityName=".BookListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capstone.authorfollow.BookListActivity" />
        </activity>
        <activity
            android:name=".authors.AuthorListActivity"
            android:label="@string/nav_author"></activity>
        <activity
            android:name=".authors.AuthorDetailActivity"
            android:label="@string/title_author_detail"
            android:parentActivityName=".authors.AuthorListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capstone.authorfollow.authors.AuthorListActivity" />
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.capstone.authorfollow"
            android:exported="false" />
    </application>

</manifest>
